<DropdownMenu>
  <DropdownMenuTrigger asChild>
    <Button variant="outline">Export data</Button>
  </DropdownMenuTrigger>

  <DropdownMenuContent className="w-56">
    <DropdownMenuLabel>Export options</DropdownMenuLabel>

    {/* Escolher o depot */}
    <DropdownMenuSub>
      <DropdownMenuSubTrigger>Export by depot</DropdownMenuSubTrigger>
      <DropdownMenuSubContent>
        {depots.map((depot) => (
          <DropdownMenuItem key={depot.id}
            onSelect={() => handleExport({ depotId: depot.id })}
          >
            {depot.name}
          </DropdownMenuItem>
        ))}
      </DropdownMenuSubContent>
    </DropdownMenuSub>

    {/* Filtrar por verificação */}
    <DropdownMenuSeparator />
    <DropdownMenuLabel>Asset filter</DropdownMenuLabel>

    <DropdownMenuItem onSelect={() => handleExport({ filter: 'verified' })}>
      Verified assets
    </DropdownMenuItem>

    <DropdownMenuItem onSelect={() => handleExport({ filter: 'unverified' })}>
      Unverified assets
    </DropdownMenuItem>

    <DropdownMenuItem onSelect={() => handleExport({ filter: 'all' })}>
      All assets
    </DropdownMenuItem>
  </DropdownMenuContent>
</DropdownMenu>
