@app.route("/search", methods=["GET", "POST"])
def search():

    asset = None
    update_required = False
    verification_status = None

    if request.method == "POST":

        asset_id = request.form["asset_id"]

        conn = sqlite3.connect(DATABASE)
        cursor = conn.cursor()

        cursor.execute("""
            SELECT * FROM assets
            WHERE asset_id = ?
            ORDER BY id DESC
            LIMIT 1
        """, (asset_id,))

        asset = cursor.fetchone()

        conn.close()

        if asset:

            try:

                status = asset[3]

                capture_date = datetime.strptime(
                    asset[7],
                    "%Y-%m-%d %H:%M:%S"
                )

                days_difference = (
                    datetime.now() - capture_date
                ).days

                if status == "Missing":
                    verification_status = "Missing"

                elif days_difference <= 180:
                    verification_status = "Verified"

                else:
                    verification_status = "Overdue"
                    update_required = True

            except Exception:
                verification_status = "Unknown"

    return render_template(
        "search.html",
        asset=asset,
        update_required=update_required,
        verification_status=verification_status
    )
